.services-container {
  padding-left: 60px ;
  padding-right: 60px;
  padding-bottom: 60px;
  /* background-color: #ffffff; */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #333;
}

.services-header {
  margin-bottom: 40px;
   transform: translateY(60px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
}

/* When visible */
.services-header.header-show {
  transform: translateY(0);
  opacity: 1;

}

.services-header h2 {
  color: #f8f7f9;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 28px;
}

.services-header p {
  color: #bdafe4;
  max-width: 800px;
  line-height: 1.6;
}

/* Grid Layout */
.services-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
}

/* Individual Card */
.service-card {
   background: radial-gradient(circle at 20% 20%, #011421, #0b1e2d 60%, #071019 100%);
  padding: 40px 30px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
  border: 1px solid #f0f0f0;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  transform: translateX(-120px);
  opacity: 0;
  transition: transform 0.8s ease, opacity 0.8s ease;
  
}



.icon-box {
  width: 60px;
  height: 60px;
  background: linear-gradient(90deg, #7b61ff, #00e0ff);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
}

.service-card h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #00e0ff;
}

.service-card p {
  font-size: 14px;
  color: #a0dfe8;
  line-height: 1.5;
  margin-bottom: 20px;
}

.learn-more {
  color: #7c4dff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  transition: 0.2s;
}

.learn-more:hover {
  text-decoration: underline;
}

.service-card:hover {
  transform: scale(2.05); 
  /* transform: translateX(0) translateY(-10px); */
  box-shadow: 0 15px 40px rgba(124, 77, 255, 0.15);
   border-color: #00e0ff;
}
.services-container.show .service-card {
  transform: translateX(0);
  opacity: 1;
}
















/* Overlay */
.service-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Modal Box */
.service-modal-box {
  display: flex;  

  background: #071019;
  padding: 30px;
  border-radius: 16px;
  width: 800px;
  /* margin-top: 40px; */
  /* margin-bottom: 40px; */
  max-width: 95%;
  color: white;
  max-height: 80vh;        
  overflow-y: auto;
  animation: modalFade 0.3s ease;
scrollbar-width: none;
  -ms-overflow-style: none;
}
  .service-modal-text::-webkit-scrollbar {
  width: 6px;
    
}

.service-modal-text::-webkit-scrollbar-thumb {
  background: #7b61ff;
  border-radius: 10px;
}

  .service-modal-content {
  display: flex;
  gap: 30px;  /* important */
  
}

.service-modal-text {
flex: 1;
  max-height: 100%;
  overflow-y: auto;
  padding-right: 10px;
     /* scrollbar-width: none;      
  -ms-overflow-style: none;    
  /* text scroll item */ 
}

.service-modal-text p {
  line-height: 1.6;
  color: #a0dfe8;
}
.service-modal-image {
  flex: 1; display: flex;
  justify-content: center;
 /* height: 90%; */
}

.service-modal-image img {
  width: 100%;
  height: 500px;
  border-radius: 12px;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 768px) {
  .service-modal-content {
    flex-direction: column;
  }
}

.service-modal-box h3 {
  margin-bottom: 15px;
}

.service-modal-box button {
  margin-top: 20px;
  padding: 8px 15px;
  border: none;
  background: #7b61ff;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

/* Small animation */
@keyframes modalFade {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}