@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800&display=swap');

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}
html{
    overflow-x:hidden;

}
body{
  font-family:'Poppins',sans-serif;
  background: radial-gradient(circle at 20% 20%, #011421, #0b1e2d 60%, #071019 100%);
  color:white;
  overflow-x:hidden;

}

.container{
  max-width:1200px;
  margin:0 auto;
  padding:50px 80px;
}

@media(max-width:900px){
  .container{
    padding:30px 20px;
  }
}


/* entire scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* track (background) */
::-webkit-scrollbar-track {
  background: #0f172a; /* dark background */
}

/* thumb (the moving part) */
::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #7b61ff, #00d4ff);
  border-radius: 10px;
}

/* hover effect */
::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #5a3dff, #00aaff);
}